name: Build & Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Lint Code
        run: npm run lint

      - name: Build Project
        run: npm run build

      - name: Package dist folder
        run: tar -czf dist.tar.gz -C dist .

      - name: Upload dist.tar.gz to EC2
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          port: ${{ secrets.DEPLOY_PORT }}
          key: ${{ secrets.DEPLOY_KEY }}
          source: "dist.tar.gz"
          target: "/tmp/dist.tar.gz"

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          port: ${{ secrets.DEPLOY_PORT }}
          key: ${{ secrets.DEPLOY_KEY }}
          script: |
            set -e
            TARGET=${{ secrets.TARGET_DIR }}

            # Create dist folder if missing
            mkdir -p $TARGET/dist

            # Clean old build
            rm -rf $TARGET/dist/*

            # Extract new build
            tar -xzf /tmp/dist.tar.gz -C $TARGET/dist

            # Fix permissions
            sudo chown -R ubuntu:ubuntu $TARGET

            # Reload NGINX
            sudo systemctl reload nginx

            # Cleanup
            rm /tmp/dist.tar.gz